<mat-spinner *ngIf="loading"></mat-spinner>
<div class="sauce-container" *ngIf="!loading">
  <div class="sauce-info">
    <h1 class="sauce-name">{{ sauce?.name }}</h1>
    <h3>Description</h3>
    <p>{{ sauce.details }}</p>
    <div class="control-buttons">
      <button mat-raised-button (click)="onBack()">BACK</button>
      <button mat-raised-button color="primary" (click)="onModify()">MODIFY</button>
      <button mat-raised-button color="warn" (click)="onDelete()">DELETE</button>
    </div>
  </div>
</div>
